{{#extend "thirds-layout"}}
    {{#content "head" mode="prepend"}}
        <script type="text/javascript" src="./scripts/mail.js"></script>
        <style type="text/css">
            body {
                overflow-x: hidden;
                overflow-y: hidden;
            }
            #mail-link img {
                width: 50px;
                height: auto;
            }
            address {
                flex: 1;
                display: flex;
            }
            address a {
                flex: 1;
                text-decoration: none;
                padding: 0 5px;
            }
        </style>
    {{/content}}
    {{#content "top"}}
        <h3 class="fade-in">
            Michael J Perri
        </h3>
    {{/content}}
    {{#content "bottom"}}
        <address class="fade-in">
            <a href="https://github.com/mikeperri">
                <img src="./images/github.png">
            </a>
            <a id="mail-link">
                <img src="./images/mail.png">
            </a>
            <a href="https://www.linkedin.com/in/michaeljperri">
                <img src="./images/linkedin.png">
            </a>
        </address>
    {{/content}}
{{/extend}}
